<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cap.Properties.Settings.CappingConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=Capping;Persist Security Info=True;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Cap.Properties.Settings.CappingConnectionString1"
            connectionString="Data Source=127.0.0.1;Initial Catalog=Capping;Persist Security Info=True;User ID=sa;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Cap.Properties.Settings.CappingConnectionString2"
            connectionString="Data Source=127.0.0.1;Initial Catalog=Capping;Persist Security Info=True;User ID=sa;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>